.ipynb_checkpoints
__pycache__
.vscode
altair-data-*
*.profraw
tmp*
Untitled*.ipynb
*.code-workspace
.mypy_cache
.coverage
htmlcov
result_images
src/*
dask-worker-space/
data/raw/*
# Keep sample data in there for show
!data/*/sample_usage*
.hypothesis
dist/
data/groupby_location/
**/.DS_Store